@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #675afe;
}

.wrapper{
    background: white;
    width: 370px;
    padding: 30px;
    border-radius: 7px;
}

.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper form{
    margin: 40px 0 20px 0;
}

form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

form p{
    font-size: 18px;
    margin-bottom: 5px;
}

form input{
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
}

form input:focus{
    border: 2px solid #675afe;
}

select{
    display: flex;
    height: 45px;
    width: 100%;
    font-size: 17px;
    margin-top: 20px;
    background: #f5eeee;
    text-align: center;
    cursor: pointer;
}



button{
    background: #675afe;
    color: white;
    width: 100%;
    height: 45px;
    cursor: pointer;
}

form .result{
    font-size: 17px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.small {
    color: white;
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 5px;
    font-size: 1.5rem;
}